@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  background-color: rgb(235, 233, 221);
  padding: 0;
  margin: 0;
  font-family: "DM Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  color: #000000;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none
}

.projects {
  padding: 24px 32px;
}

.project {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #111111;
  font-size: 5rem;
  transition: 4s ease;
}

.project:hover {
  color: #525252;
  filter: blur(10px);
  transition: 1s ease;
  cursor: pointer
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.header {
  width: 100%;
  border-bottom: 0.5px solid black;
}

.title {
  padding: 24px 32px;
  font-size: 1rem;
  font-weight: 200;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 24px;
  border-top: 0.5px solid black;
  background-color: rgb(235, 233, 221);
  z-index: 1;
}

.contact a {
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1rem;
  padding-top: 12px;
  transition: 2s ease;
}

.contact a:hover {
  filter: blur(2px);
  transition: 1s ease;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .project {
    font-size: 2rem;
  }

  .infoText {
    width: 60vw;
    font-size: 1rem;
  }
}
