@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  background-color: rgb(235, 233, 221);
  padding: 0;
  margin: 0;
  /* font-family: Futura, sans-serif; */
  font-family: "DM Mono", monospace;
  /* font-family: "Chivo Mono", monospace; */
  font-weight: 700;
  font-size: 1.5rem;
  transition: 2s ease;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  height: 100vh;
  color: #000000;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.images {
  padding: 32px;
  /* height: 100%; */
  display: flex;
  justify-content: end;
  align-items: center;
  border-left: 0.5px solid black;
}

.images img {
  max-height: 60vh;
}

.projects {
  padding: 24px 32px;
  /* width: 50%; */
}

.project {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #111111;
  font-size: 5rem;
  /* display: inline-block; */
  transition: 4s ease;
  /* border-bottom: 0.5px solid black; */
}

.project:hover {
  color: #525252;
  filter: blur(10px);
  transition: 1s ease;
  cursor: pointer
}

p {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
}

.header {
  width: 100%;
  border-bottom: 0.5px solid black;
}

.title {
  /* margin-bottom: 50px; */
  /* padding-bottom: 50px; */
  /* width: 100%; */
  padding: 24px 32px;
  font-size: 1rem;
  font-weight: 200;
  /* border-bottom: 0.5px solid black; */
}

.infoText {
  width: 50vw;
  font-size: 2rem;
  color: #bf3939;
  position: fixed;
  top: 0;
  left: 0;
  border: 5px solid #bf3939;
  background-color: rgb(235, 233, 221);
  padding: 10px 20px;
}

.contact {
  /* position: fixed;
  bottom: 24px; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 24px;
  border-top: 0.5px solid black;
  /* left: 24; */
}

.contact a {
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  padding-top: 12px;
  transition: 2s ease;
}

.contact a:hover {
  filter: blur(2px);
  transition: 1s ease;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  .project {
    font-size: 2rem;
  }

  .infoText {
    width: 60vw;
    font-size: 1rem;
  }

  /* .contact a {
    font-weight: 700;
    display: block;
    font-size: 1rem;
  } */
}

/* .cursor {
  background-color: #111111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
} */
